* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #7e7d78;
}

a {
  text-decoration: none;
  color: #7e7d78;
  transition: all 0.5s;
}

section {
  margin-bottom: 4em;
}
section .section-header h2 {
  font-family: "Satisfy", cursive;
  font-size: 2em;
  text-transform: capitalize;
  margin-bottom: 1em;
}
section .section-header p {
  margin: auto auto 1em;
}
@media screen and (min-width: 768px) {
  section .section-header p {
    max-width: 75%;
  }
}

h3 {
  font-family: "Satisfy", cursive;
  font-size: 1.5em;
  margin: 0.5em 0;
}

ul {
  list-style: none;
}

.container {
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.logo {
  width: 100px;
}

.btn {
  display: inline-block;
  background-color: #fee6dc;
  color: #7e7d78;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  border-radius: 30px;
  padding: 10px 20px;
  transition: all 0.5s;
  cursor: pointer;
}
.btn:hover {
  background-color: #7e7d78;
  color: #fee6dc;
}

form .btn {
  background-color: white;
}
form .btn:hover {
  color: white;
}

.triple-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.triple-box .box-outer {
  padding: 25px 10px 0px;
}
@media screen and (min-width: 768px) {
  .triple-box .box-outer {
    flex-basis: 33.33%;
  }
}
.triple-box .box-outer .box-inner {
  padding: 25px;
  border: 1px solid #e2e5ea;
  border-radius: 2px;
}
.triple-box .box-outer .box-inner:hover {
  box-shadow: 0 5px 20px #f0f0f0;
}
.triple-box .box-outer .box-inner img {
  width: 100%;
}
.triple-box .box-outer .box-inner p {
  margin-bottom: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
  flex-basis: 100%;
}
@media screen and (min-width: 992px) {
  form {
    flex-basis: 60%;
  }
}
form textarea {
  height: 6em;
}
form input,
form textarea,
form select {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  background-color: #fee6dc;
  border: 0;
  border-bottom: 1px solid #7e7d78;
  padding: 0.5em;
  margin-bottom: 1em;
  width: 100%;
}
form input:focus,
form textarea:focus,
form select:focus {
  outline-color: #7e7d78;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #fff;
  padding: 1.25em 0;
}
@media only screen and (min-width: 992px) {
  .main-nav .mobile i {
    display: none;
  }
}
.main-nav .menu {
  display: flex;
  gap: 2em;
}
@media only screen and (min-width: 992px) {
  .main-nav .menu {
    width: 100%;
  }
}
.main-nav .menu li.menu-item a {
  color: #7e7d78;
  font-weight: 600;
}
.main-nav .menu li.menu-item.search {
  position: relative;
}
.main-nav .menu li.menu-item.search input {
  border: 1px solid #e2e5ea;
  border-radius: 30px;
  box-shadow: inset 2px 2px 2px #e2e5ea;
  padding: 0.25em 0.75em;
}
.main-nav .menu li.menu-item.search input:focus {
  outline: none;
}
.main-nav .menu li.menu-item.search i {
  position: absolute;
  top: 3px;
  right: 0;
  bottom: 0;
  left: 150px;
}
.main-nav .menu li.social-media {
  margin-left: auto;
}
.main-nav .menu li.social-media .social-media-list {
  display: flex;
  gap: 1em;
}
.main-nav .menu li.social-media .social-media-list .social-media-item a {
  color: #e9c9c0;
}

.main {
  position: relative;
  margin-top: 4em;
}
.main .container {
  display: flex;
  gap: 1em;
}
.main .container .main-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}
@media screen and (min-width: 992px) {
  .main .container .main-header {
    flex-basis: 60%;
  }
}
.main .container .main-header p {
  padding: 0 5em;
  margin-bottom: 2em;
}
.main .container .main-header .logo {
  margin-bottom: 1em;
}
.main .container .main-header h1 {
  margin-bottom: 1em;
}
.main .container .main-header h1 strong {
  font-size: 2em;
  text-transform: uppercase;
}
@media only screen and (min-width: 1200px) {
  .main .container .main-header h1 strong {
    font-size: 2.5em;
  }
}
.main .container .main-header h1 span {
  display: inline-block;
  font-family: "Satisfy", cursive;
  font-size: 1.5em;
  line-height: 2em;
  width: 10em;
  color: #fff;
  background-image: url("../img/paint.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main .container .main-image-wrapper {
  position: relative;
  display: none;
}
@media only screen and (min-width: 992px) {
  .main .container .main-image-wrapper {
    display: block;
  }
  .main .container .main-image-wrapper img {
    height: 38em;
  }
  .main .container .main-image-wrapper .sticker {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 250px;
    right: 0;
    bottom: 0;
    left: -20px;
    background-color: #fff;
    font-size: 1.25em;
    border-radius: 50%;
    border: dashed 2px #7e7d78;
    outline: solid 5px #fff;
    height: 150px;
    width: 150px;
  }
  .main .container .main-image-wrapper .sticker span {
    text-transform: uppercase;
    font-weight: 700;
  }
}

.about .logo {
  margin-bottom: 1em;
}
.about .section-header .section-header-description {
  text-transform: uppercase;
  font-weight: 300;
}
.about p.about-content {
  margin: auto auto 2.5em;
}
@media screen and (min-width: 768px) {
  .about p.about-content {
    max-width: 75%;
  }
}

.gallery .gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.gallery .gallery-wrapper .gallery-item {
  position: relative;
  flex-basis: 100%;
}
@media only screen and (min-width: 576px) {
  .gallery .gallery-wrapper .gallery-item {
    flex-basis: 50%;
  }
}
@media only screen and (min-width: 992px) {
  .gallery .gallery-wrapper .gallery-item {
    flex-basis: 25%;
  }
}
.gallery .gallery-wrapper .gallery-item .gallery-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .gallery-wrapper .gallery-item .gallery-item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(254, 230, 220, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
}
.gallery .gallery-wrapper .gallery-item .gallery-item-overlay:hover {
  opacity: 1;
}
.gallery .gallery-wrapper .gallery-item .gallery-item-overlay .overlay-icon {
  width: 60px;
}

.team .section-header p {
  margin-bottom: 2.25em;
}
.team .triple-box .box {
  padding: 0 10px;
  margin-bottom: 60px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .team .triple-box .box {
    flex-basis: 33.33%;
  }
}
.team .triple-box .box img {
  width: 100%;
}
.team .triple-box .box .card {
  position: absolute;
  top: auto;
  right: 0;
  bottom: -50px;
  left: 0;
  margin: auto;
  width: 80%;
  background-color: #fff;
  transition: all 0.5s;
}
.team .triple-box .box .card:hover {
  box-shadow: 0 5px 20px #f0f0f0;
  padding-bottom: 30px;
}
.team .triple-box .box .card:hover .team-social-media {
  height: 2em;
}
.team .triple-box .box .card .team-social-media {
  height: 0;
  overflow: hidden;
}
.team .triple-box .box .card .team-social-media a {
  display: inline-block;
  font-size: 1.5em;
  margin: 0.25em;
}
.team .triple-box .box .card .team-social-media a:hover {
  color: #e9c9c0;
}

.book {
  background-color: #fee6dc;
}
.book .book-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .book .book-wrapper {
    justify-content: flex-start;
  }
}
.book .book-wrapper .book-image {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  width: 40%;
}
@media screen and (min-width: 992px) {
  .book .book-wrapper .book-image {
    display: block;
  }
}
.book .book-wrapper form {
  padding: 80px;
}

.blog .triple-box img {
  margin-bottom: 1em;
}
.blog .triple-box p.post-details {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.75em;
}

.contact {
  background-color: #fee6dc;
  padding: 3em 0;
  margin-bottom: 2em;
}
.contact .contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact .contact-wrapper address {
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  flex-basis: 100%;
}
@media screen and (min-width: 992px) {
  .contact .contact-wrapper address {
    flex-basis: 40%;
  }
}
.contact .contact-wrapper address .address-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}
@media screen and (min-width: 992px) {
  .contact .contact-wrapper address .address-item {
    justify-content: flex-start;
  }
}
.contact .contact-wrapper address .address-item p {
  text-align: left;
  padding-left: 1em;
  line-height: 1.5em;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-bottom: 2em;
}
footer .footer-nav .menu {
  display: flex;
  gap: 1.5em;
}
@media screen and (min-width: 576px) {
  footer .footer-nav .menu {
    gap: 2em;
  }
}
footer .footer-nav .menu a {
  color: #7e7d78;
  font-weight: 600;
}
footer .footer-nav .menu p {
  text-transform: uppercase;
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */