@use "../abstracts/variables" as v;

.about {
  .logo {
    margin-bottom: 1em;
  }
  .section-header {
    margin-bottom: 1.5em;
  }
  .section-header-description {
    text-transform: uppercase;
    font-weight: 300;
  }
}
