@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as *;

.book {
  background-color: v.$accent-color;
  .book-wrapper {
    @include flex-row(center, center);
    @media screen and (min-width: v.$large) {
      justify-content: flex-start;
    }
    .book-image {
      height: 600px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: none;
      width: 40%;
      @media screen and (min-width: v.$large) {
        display: block;
      }
    }
    form {
      padding: 80px;
    }
  }
}
