@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as *;

form {
  @include flex-col(space-between, flex-start);
  gap: 1em;
  flex-basis: 100%;
  @media screen and (min-width: v.$large) {
    flex-basis: 60%;
  }

  input,
  textarea,
  select {
    font-family: v.$primary-font;
    font-size: 1em;
    background-color: v.$accent-color;
    border: 0;
    border-bottom: 1px solid v.$basic-color;
    padding: 0.5em;
    margin-bottom: 1em;
    width: 100%;
    &:focus {
      outline-color: v.$basic-color;
    }
  }
  textarea {
    height: 6em;
    margin-bottom: 2em;
  }
  input[type="date"]:invalid,
  input[type="date"]:invalid {
    color: grey;
  }
  select {
    &:invalid {
      color: grey;
    }
    option {
      color: black;
    }
  }
}
