@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as *;

form {
  @include flex-col(space-between, flex-start);
  gap: 1em;
  flex-basis: 100%;
  @media screen and (min-width: v.$large) {
    flex-basis: 60%;
  }

  input,
  textarea,
  select {
    font-family: v.$primary-font;
    font-size: 1em;
    background-color: v.$accent-color;
    border: 0;
    border-bottom: 1px solid v.$basic-color;
    padding: 0.5em;
    margin-bottom: 1em;
    width: 100%;
    &:focus {
      outline: 2px solid;
      outline-color: v.$basic-color;
    }
    &.error {
      border-bottom: 1px solid #ff0000;
    }
  }
  textarea {
    height: 6em;
    margin-bottom: 2em;
  }
  input {
    &[type="date"]:invalid,
    &[type="time"]:invalid {
      color: grey;
    }
    &:-webkit-autofill {
      background-color: #fff !important;
      box-shadow: 0 0 0 100px #fff inset;
    }
  }
  select {
    &:invalid {
      color: grey;
    }
    option {
      color: black;
    }
  }
  p {
    font-weight: 500;
    flex-basis: 100%;
    margin-top: 1em;
    padding-left: 0.5em;
    &.error {
      color: #ff0000;
      border: none;
    }
  }
}
