@use "../abstracts/variables" as v;

@mixin text-upper-light {
  text-transform: uppercase;
  font-weight: 300;
}

@mixin absolute($top, $right) {
  position: absolute;
  top: $top;
  right: $right;
}

@mixin flex-row($justify, $align) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-col($justify, $align) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: $justify;
  align-items: $align;
}
