$primary-font: "Montserrat", sans-serif;
$decorative-font: "Satisfy", cursive;
$button-font: "Poppins", sans-serif;

$basic-color: #7e7d78;
$accent-color: #fee6dc;
$accent-color-muted: #e9c9c0;

$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
